<div
  *ngIf="countries.length === 4; else table"
  class="alert alert-warning text-center"
>
  there are no countries to show.
</div>

<ng-template #table>
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>icon</th>
        <th>name</th>
        <th>flag</th>
        <th>capital</th>
        <th>population</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let country of countries; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ country.flag }}</td>
        <td>{{ country.name.common }}</td>
        <td><img [src]="country.flags.svg" [alt]="country.name.common" /></td>

        <td>{{ country.capital }}</td>
        <td>{{ country.population | number }}</td>
        <td><a routerLink="search/by-country/:id">see more...</a></td>
      </tr>
    </tbody>
  </table>
</ng-template>
