<h2>by capital</h2>
<hr />

<div class="row">
  <div class="col-sm-8">
    <!-- !search bar: -->
    <shared-search-bar
      barPlaceholder="Enter a specific capital..."
      (onValue)="searchByCapital($event)"
      (onDebounce)="searchByCapital($event)"
      [initialValue]="initialValue"
    ></shared-search-bar>
  </div>
</div>
<div class="row mt-4">
  <div class="col">
    <!-- !LOADING -->
    <shared-loading *ngIf="loading"></shared-loading>
    <!-- !TABLE: -->
    <shared-info-table [countries]="countries"></shared-info-table>
  </div>
</div>
