<ng-template #loading>
  <div class="alert alert-info">loading...</div>
</ng-template>

<div *ngIf="specificCountry; else loading">
  <div class="row">
    <div class="col-12">
      <h2 class="mb-5">
        Country: <strong>{{ specificCountry.name.common }}</strong>
      </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <h3>Flag</h3>
      <img
        class="img-main"
        [src]="specificCountry.flags.svg"
        [alt]="specificCountry.name.common"
      />
    </div>
    <div class="col">
      <h3>info:</h3>
      <ul class="list-group">
        <li class="list-group-item">
          <strong>capital: </strong>{{ specificCountry.capital }}
        </li>
        <li class="list-group-item">
          <strong>population: </strong>{{ specificCountry.population | number }}
        </li>
        <li class="list-group-item">
          <strong>language: </strong>{{ specificCountry.languages | json }}
        </li>
        <li class="list-group-item">
          <strong>borders: </strong>{{ specificCountry.borders | json }}
        </li>
        <li class="list-group-item">
          <strong>region: </strong>{{ specificCountry.region | json }}
        </li>
        <li class="list-group-item">
          <strong>search code: </strong>{{ specificCountry.cca3 }}
        </li>
      </ul>
    </div>
  </div>
</div>
